PRUEBA A REALIZAR EN EL AULA EL DÍA 28/11/2026

--------------------------------PROGRAMACIÓN FUNCIONAL----------------------------------

Nombre:

Apellidos:

------------------------------------INSTRUCCIONES --------------------------------------

Realizar los ejercicios que se piden sobre el repositorio remoto.

Se compartirá la asignación por Github Classroom.

El ejercicio se deberá entregar sobre este mismo archivo antes de las 20:45 del 28/11/2025.

En caso contrario, la nota del ejericio será de 0.

---------------------------------------------------------------------------------------

1- Generar un programa que genere una función cuyo nombre sea Aplica y que tenga cómo argumentos los siguientes parámetros: función, argumento.

In [ ]:
def Aplica (funcion, argumento):
    return funcion(argumento)

2- Generar una función llamada cuadrado que tenga como argumento n y devuelva el cuadrado de n

In [ ]:
def cuadrado (n):
    return n*n

3- Genera una función llamada cubo que tenga como argumento n y devuelva el cubo de n

In [ ]:
def cubo (n):
    return n**3

4- Utilizar la función Aplica para calcular el cuadrado de 5.

In [1]:
def Aplica (funcion,argumento):
    return funcion(argumento)
def cuadrado(n):
    return n*n
def cubo (n):
    return n**3
Aplica(cuadrado,5)

25

5- Utilizar la función Aplica para calcular el cubo de 5.

In [2]:
def Aplica (funcion,argumento):
    return funcion(argumento)
def cuadrado(n):
    return n*n
def cubo (n):
    return n**3
Aplica (cubo,5)

125

6- Genera una función lambda que calcule el área de un triángulo

In [ ]:
area = lambda base, altura : (base*altura)/2

7- Calcula con la función lambda el área de un triángulo de base 3 y altura 4

In [3]:
area = lambda base, altura : (base*altura)/2
area (3,4)

6.0

8- Realiza una función que devuelva el cuadrado de una lista de números enteros.
Ejemplos: Lista1 = [1,2,3,4]
          devuelve : Lista1* = [1,4,9,16]
          Utilizar la instrucción "map" para poder aplicar la función a un objeto iterable.

In [4]:
Lista1 = [1,2,3,4,]
def cuadrado(n):
    return n*n
list (map(cuadrado,Lista1))

[1, 4, 9, 16]

9- Realiza una función que combine las siguientes dos colecciones iterables:
asignaturas = ['Matemáticas', 'Física', 'Química', 'Economía']
notas = [6.0, 3.5, 7.5, 8.0]

In [5]:
asignaturas = ["Matemáticas", "Física", "Química","Economia"]
notas = [6.0, 3.5, 7.5, 8.0]

def combinar (Lista1, Lista2):
    return list (zip(Lista1,Lista2))

combinar (asignaturas, notas)

[('Matemáticas', 6.0), ('Física', 3.5), ('Química', 7.5), ('Economia', 8.0)]

10- Realiza una funcion que combine solo las 3 primeras posriciones de las mismas colecciones iterables

In [6]:
asignaturas = ["Matemáticas", "Física", "Química", "Economia"]
notas = [6.0, 3.5, 7.5, 8.0]

def combinar (lista1, lista2):
    return list (zip(Lista1, lista2[:3]))

combinar (asignaturas, notas)

[(1, 6.0), (2, 3.5), (3, 7.5)]